* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/*navbar*/
nav {
    display: flex;
    background-color: #111;
    justify-content: space-around;
    /*padding: 20px 0;*/
    color: #fff;
    height: 50px;
    align-items: center;
}

nav .logo {
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: #eee;
    text-decoration: none;
    font-size: 1em;
}

nav ul li a:hover {
    color: #333;
}

/*hamburger menu*/
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    top: -3px;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background: #eee;
    border-radius: 3px;
    transition: all .5s;
}

/*hamburger menu animasi*/
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:last-child {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    background: #fff;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    background: #fff;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}



















/*iki meida queris*/
/*tablet*/
@media(max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/*responsive*/
@media(max-width: 576px) {
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 1;
        background-color: #111;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 1;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

    .menu-toggle {
        display: flex;
        z-index: 2;
    }
}