@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none; 
    color: #fff;
}

.bg-primary.mb-3{
    margin-left: 20px;
    border-radius: 5px;
}

button a:hover{
    color: #eee;
}

table tr td button{
    width:80px;
}

form .baris{
        border: .1rem solid rgba(0, 0, 0, .1);
        border-radius: .5rem;
        padding: 4rem;
}

form .baris .bg-warning.mb-3{
    width: 100px;
}

body form{
    margin-left: 20px;
}


@media (max-width:768px){
    html{
        font-size: 50%;
        padding: 0.7rem 9%;
    }

    form{
        display: flex;
        align-items: center;
        gap: 1.5px;
    }

    form .baris{
        padding: 4rem;
        border: .1rem solid rgba(0, 0, 0, .1);
        border-radius: .5rem;
    }

}

